
@@import url(@import url(https://fonts.googleapis.com/css?family=Indie+Flower);)

h1 {
  font-weight: normal;
  font-family: "Indie flower" , sans-serif;
  color: green;
}
body {
  font-family: "Indie flower" , sans-serif;
  font-size: 18px;
}
