@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
body{
  background-color: #4D658D;
}
h1{
  text-align: center;
  color: white;
  font-family: shadows into light;
  font-weight: bolder;
  font-size: 70px;
  text-decoration: underline;

}
a{
  color: white;
}
#toprow{
  padding-left: 100px;
}
#bottomrow{
padding-top: 25px;
padding-left: 100px;
}

#middlerow{
  padding-top: 25px;
  padding-left: 50px;

}
.images{
  display: block;
}

.menu{
  padding-left: 10px;
  padding-right: 10px;
}

.imagesonpage{
  padding-top: 20px;
}

#menubar{
  border: solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.words{
  padding-top: 50px;
  color: white;
  font-size: 20px;
}
