body{
  background-color: ;
}
h1{
  text-align: center;
  color: black;
}
#toprow{
  padding-left: 100px;
}
#bottomrow{
padding-top: 25px;
padding-left: 100px;
}

#middlerow{
  padding-top: 25px;
  padding-left: 50px;

}
.images{
  display: block;
}
#categories{
  padding-top: 50px;
}

#menubar{
  border: solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
