@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
body{
  background-color: #408080;
}
h1{
  text-align: center;
  color: white;
  font-family: oswald;
  font-weight: bolder;
  font-size: 70px;
}
p{
  font-family: roboto condensed;
}
b{
  color: #9BC2C2;
  text-decoration: underline;
}

a{
  color: white;
  font-family: roboto condensed;
  font-size: 30px;
}
#toprow{
  padding-left: 100px;
}
#bottomrow{
padding-top: 25px;
padding-left: 100px;
}

#middlerow{
  padding-top: 25px;
  padding-left: 50px;

}
.images{
  display: block;
}

.menu{
font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;

}

.imagesonpage{
  padding-top: 20px;
}

#menubar{
  background-color: #003333;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

}
.words{
  padding-top: 50px;
  color: white;
  font-size: 20px;
}
