@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
html{
  background-color: red;
}

header {
  text-decoration: line-through;
  text-align: center;
  color: brown;
  font-weight: bold;
  font-size: 70px;
  font-family: "Indie Flower";
  font-style: italic;
  letter-spacing: 20px;
}
#poem1 {
  float: left;
  margin: 5px;
  padding: 2px;
  border: solid purple 15px;
  width: 25%;
  font-size: 50px;
  color: yellow;
  background-color: blue;
  letter-spacing: 10px;
  position: static;
}
#poem2 {
  text-decoration: underline;
  float: right;
  margin: 10px;
  padding: 6px;
  border: dashed green 10px;
  width: 50%;
  color: pink;
  background-color: yellow;
  word-spacing: 30px;
}
